<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../Css/account.css">
    <script src="../../Js/Account/account.js" defer type="module"></script>
</head>
<body>
    <div class="account-container">
        <div class="account-header">
            <div class="user-avatar">
                <div class="avatar">
                    <img class="profile" src="../../System-img/user.png" alt="profile">
                </div>
                <div class="user">
                    <div class="user-name">name</div>
                    <div class="isAdmin"></div>
                </div>
            </div>
            <div class="cart-container">
                <a href="../products/cart.html">
                    <div class="cart"></div>
                </a>
            </div>
        </div>
        <div class="navigations">
            <div class="home">
                <a href="/">Home</a>
            </div>
        </div>
        <div class="purchase-status">
        <h4>My Purchases</h4>
            <div class="purchase-navigation">
                <div class="checkouts"> 
                    <a href="../products/checkout.html">
                        <img class="checkoutsIcon" src="../../System-img/3779172.png" alt="checkouts">
                    </a>
                </div>
                <div class="history"> 
                    <a href="../products/history.html">
                        <img class="historyIcon" src="../../System-img/6198830.png" alt="history">
                    </a>
                </div>
            </div>
        </div>
        <div class="user-info">
            <h3>Account Settings</h3>
            <div class="user-details">
                <div class="add-address">Add address</div>
                <div class="log-out">Log out</div>
            </div>
        </div>
    </div>
</body>
</html>