
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout</title>
  <link rel="stylesheet" href="../../Css/checkout.css">
  <script src="../../Js/productFunction/schowCheckoutItem.js" defer type="module"></script>
</head>
<body>
    <div class="checkout-container">
      <div class="back-link">
        <a href="../accounts/account.html">Back</a>
      </div>
        <h1>Checkout Items</h1>
        <ul class="checkout-items">
        </ul>
  </div>
</body>
</html>