<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="../../Css/history.css">
    <script src="../../Js/productFunction/history.js" defer type="module"></script>
</head>
<body>
    <div class="checkout-container">
        <a href="../accounts/account.html">Back</a>
        <h1>Transaction History</h1>
        <ul class="checkout-items"></ul>
  </div>
</body>
</html>
