<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../JS/products/products.js" defer></script>
    <link rel="stylesheet" href="../../Css/products.css">
</head>
<body>
    <div class="containerProducts">
        <a href="/">Home</a>
        <a href="./addProducts.html">add product</a>
        <div class="wrapper">
            <table class="productsTable">
                <thead>
                    <tr>
                        <th> 
                            Product
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Stocks
                        </th>
                        <th>
                            Ratings
                        </th>
                        <th>
                            Origin
                        </th>
                        <th>
                            View
                        </th>
                    <tr>
                </thead>
                <tbody class="tbody">
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>